/app/api/autoqr
/app/api/favicon.png
favicon_qrcode.png
/app/api/__pycache__/
/app/ui/package.json
/app/ui/node_modules
/app/ui/package-lock.json
*.pyc

__pycache__/
*.py[cod]
*$py.class
*__pycache__*